@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RiaSans-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  @apply font-sans;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@layer base {
  html {
    font-family: "Pretendard Variable", sans-serif;
  }
}
@layer utilities {
  .gradient-animation {
    background: linear-gradient(270deg, #fff4d1, #d2c4f2, #f0c9eb);
    background-size: 400% 400%;
    animation: gradientMove 5s ease infinite;
  }
}
.ria-font {
  font-family: "RiaSans-ExtraBold";
}
.post-it {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #fbf7c7, #fcecb0);
}
.post-it::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, transparent 50%, #fef9c3 50%);
  clip-path: polygon(70% 100%, 100% 90%, 100% 100%);
  transform: translate(0, 0);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.post-it:hover::after {
  transform: rotate(-5deg) scale(1.1);
  transition: all 0.3s ease-in-out;
}
.animate-pageExit {
  animation: pageExit 0.8s ease-in-out forwards;
}
.project-clicked {
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
